@model  TheReddit.Models.RedditPost

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
    <div class="jumbotron container">
        <h1>Add new Post</h1>
        @*@Html.ValidationSummary()*@
            @using (Html.BeginForm("Add", "Home"))
            {
                <p>Title
                @Html.TextBoxFor(model => model.Title) @Html.ValidationMessageFor(model => model.Title)</p>
                <p>Content
                @Html.TextBoxFor(model => model.Content)</p>
                <input class="btn btn-default" type="submit" value="Submit">
            }
    </div>
</body>
</html>
