.greetBody {
    background-image: url(https://media.giphy.com/media/12G7BxUHSMM2TC/source.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: ghostwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    font-weight: bold;
}

.greetDiv {
    margin-top: 20px;
    margin-left: 50px;
    width: 70%;
}

.greetP {
    text-align: center;
}

.indexBody {
    background-color: azure;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

input {
    border-radius: 5px;
    padding: 10px;
}
