@model List<ToDoApp.Models.Todo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDoApp</title>
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />
</head>
<body>
    <h1>TODOS FOR TODAY:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.IsDone</td>
                <td>@item.IsUrgent</td>
            </tr>
        }
    </table>
</body>
</html>
