@model FoxClub.Models.Fox
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub Trick Center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="navigation">
            <button>@Html.ActionLink("Information", "Index", "Home")</button>
            <button>@Html.ActionLink("Nutrition Store", "NutritionStore", "Home")</button>
            <button>@Html.ActionLink("Trick Center", "TrickCenter", "Home")</button>
        </div>
        <div>
            <p>
                Tricks
            </p>
        </div>
    </div>
</body>
</html>
