@model BankOfSimba.Models.BankAccount

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table style = "border: 1px solid black">
        <tr>
            <th style = "border: 1px solid black; padding: 5px">Name</th>
            <th style = "border: 1px solid black; padding: 5px">Balance</th>
            <th style = "border: 1px solid black; padding: 5px">Type</th>
        </tr>
        @foreach (var client in Model.clients)
        {
            <tr>
                <td style = "border: 1px solid black; padding: 5px">@client.Name</td>
                <td style = "border: 1px solid black; padding: 5px">@client.Balance</td>
                <td style = "border: 1px solid black; padding: 5px">@client.AnimalType</td>
            </tr>
        }
    </table>
</body>
</html>

