/* border-box*/

form {
    background-color: #DCD6CD;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;    
    font-weight: 300;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    position: relative;
    width: 600px;
}

/* inner boxes*/

.personal, 
.contact,
.bottom {
    box-sizing: content-box;
    padding: 2px 15px;
}

.personal,
.contact {
    height: 315px;
    width: 43%;
    margin-top: 0px;
}

.personal {
    float: left;
}

.contact {
    float: right;
}

.bottom {
    bottom: 0px;
    padding-bottom: 20px;
    position: absolute;
    width: 74.6%;
}

.personal section:first-of-type,
section:nth-of-type(2) {
    display: inline-block;
    width: 46%;
    border: 1px solid black;

}

.proba {
    padding-bottom: 3.5px;
    padding-left: 5px;
}

/*.personal section:nth-of-type(3) {

}*/

/* individual elements styling*/

h1 {
    color: #857E8D;
    padding: 15px;
    margin-bottom: 0px;
}

h2 {
    background-color: #938C97;
    color: white;
    font-size: 1.1em;
    padding: 5px;
}

h1,
h2 {
    font-weight: lighter;
}

h2, 
input,
textarea,
button {
    border-radius: 3px;
}

input,
textarea,
button {
    font-family: sans-serif;
}

p {
    color: #4B4362;
    font-weight: 900;
}

.personal > p:last-of-type {
    color: #C1BDB6;
    font-weight: 400;
}

.required::after {
    content: "*";
    color: red;
}

input, textarea {
    font-size: small;
    padding: 5px;
}

button {
    margin: 10px 0px;
    text-transform: uppercase;
} 

button:first-of-type {
    background-color: #4D4565;
    color: white;
    padding: 5px 15px 5px 15px;
}

button:last-of-type {
    float: right;
    padding: 5px 10px 5px 10px;
}

