form {
    background-color: #DCD6CD;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.65em;
    height: 730px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    position: relative;
    width: 600px;
}

h1 {
    color: #857E8D;
    padding: 15px;
}

.personal, 
.contact,
.bottom {
    box-sizing: content-box;
    padding: 2px 15px;
}

.personal,
.contact {
    height: 315px;
    width: 43%;
}

.personal {
    float: left;
}

.contact {
    float: right;
}

.bottom {
    bottom: 0px;
    padding-bottom: 20px;
    position: absolute;
    width: 74.6%;
}

.personal section:first-of-type,
section:nth-of-type(2) {
    display: inline-block;
    width: 46%;
}

